* {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

nav {
    padding: 20px;
}

body {
    background-color: rgb(127, 183, 236);
}

#container {
    background-color: rgb(247, 247, 247);
    padding: 20px;
}

table, tr, td {
    border: 1px solid;
    text-align: center;
}

td {
    padding: 5px;
    text-align: center;
}
a{
    color: rgb(10, 32, 26);
}