<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".//Css.css">
    <title>Teste</title>
    <header>
        <h2>Fornecedor JAVA</h2>
    </header>
    <nav>
        <ul>
            <li><a href="index.hmtl">Index</a></li>
            <li><a href="fornecedor/list.hmtl">Fornecedor/list</a></li>
        </ul>
    </nav>
</head>
<body>
    <table>
    <h2>Guilherme Costa</h2>
</table>
</body>
</html>